html{
  box-sizing: border-box;
  font-size: 62.5%;
}
*,*::after,*::before{
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body{
  font-size: 1.7rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container{
  margin: 0 auto;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  width: 30.5rem;
  background-color: #81C3D7;
  padding: 1rem;
  gap: 1rem;
    border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
.display{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #F5F1ED;
  font-size: 3rem;
  border: #81C3D7 solid .5rem;
  border-bottom: none;
  border-radius: inherit;
  -webkit-border-radius: inherit;
  -moz-border-radius: inherit;
  -ms-border-radius: inherit;
  -o-border-radius: inherit;
}
.display p{
  display: flex;
  flex-direction: row-reverse;
  overflow: auto;
}
.display--first{
  margin-top: 3.5rem;
  height: 6rem;
  padding: 0 1rem;
}
.display--second{
  padding: 0 1rem;
  margin-top: 1rem;
  height: 3rem;
  font-size: 2rem;
}
.buttons{
  display: flex;
  flex-direction: column;
  gap: .5rem;
  padding: .5rem;
  border-radius: inherit;
  background-color: #81C3D7;
  -webkit-border-radius: inherit;
  -moz-border-radius: inherit;
  -ms-border-radius: inherit;
  -o-border-radius: inherit;
}
.btn--wrapper{
  position: relative;
  display: flex;
  gap: .5rem;
}
.btn{
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fefefe;
  background-color: #16425B;
  height: 6.5rem;
  width: 6.5rem;
  border-radius: .5rem;
  -ms-border-radius: .5rem;
  -o-border-radius: .5rem;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
}
.btn:active{
  background-color: #44687B;
}
.equals{
  position: absolute;
  right: 0;
  height: 13.5rem;
  z-index: 1;
}
.operator{
  background-color: #2F6690;
}
.operator:active{
  background-color: #5984A6;
}
.clear, .del{
  background-color: #476A6F;
}
.clear:active, .del:active{
  background-color: #6B888B;
}
.equals{
  background-color: #666A86;
}
.equals:active{
  background-color: #84889E;
}